{% extends './home.html' %}
{% block content %}
{{ block.super }}
<h3>INVENTORY</h3>

<table class="button-table">
    <thead>
<tr>
<th>name&nbsp;</th>
<th>units&nbsp;</th>
<th>quantity</th>
<th>price</th>
<th></th>
</tr>
</thead>
<tbody>
{% for item in object_list %}
<tr>
    <td>{{item.name}}</td>
    <td>{{item.unit}}s</td>
    <td>{{item.availableQuantity}}</td>
    <td>${{item.unitPrice}}</td>
    <td class = "tinybutton"><a href="{% url 'update_ingredient' item.id %}">restock</a></td>
{% endfor %}
</tbody>
</table>
<div class="actionpanel">


<a href="{% url "add_ingredient"  %}">add ingredient</a></td>
</div>


{% endblock %}